<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    

    <title>Eat-Da-Burger App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

    <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/events.js"></script>
</head>

<body>
    {{!-- <div> --}}

        {{{ body }}}

    </div>
    <hr>
     /container
    <footer class=" center footer">
        <div class="container">
            <p> copyright © Eat-Da-Burger App 2019</p>
        </div>
    </footer>
</body>

</html>